server:
  address: "tcp://0.0.0.0:9091/"

log:
  level: info
  format: text
  file_path: /var/log/authelia/authelia.log
  keep_stdout: true

telemetry:
  metrics:
    enabled: true

identity_validation:
  reset_password:
    jwt_secret: "${AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET}"

authentication_backend:
  file:
    path: /config/users.yml
    watch: true

access_control:
  default_policy: deny

  rules:

    - domain: authelia.home.smallfamilybusiness.net
      resources:
        - "^/admin/invite.*"
      policy: bypass

    - domain: authelia.home.smallfamilybusiness.net
      resources:
        - "^/admin/api/invite.*"
      policy: bypass

    - domain: authelia.home.smallfamilybusiness.net
      resources:
        - "^/admin.*"
      policy: deny
      subject:
        - "group:users"

    # WordPress (zwingend 2FA)
    - domain: "wordpress.home.smallfamilybusiness.net"
      policy: one_factor

    # Admin-Tools deny users
    - domain:
        - "traefik.home.smallfamilybusiness.net"
        - "wpdbadmin.home.smallfamilybusiness.net"
      policy: deny
      subject:
        - "group:users"

    # Admin-Tools (zwingend 2FA)
    - domain:
        - "traefik.home.smallfamilybusiness.net"
        - "wpdbadmin.home.smallfamilybusiness.net"
      policy: two_factor
      subject:
        - "group:admins"

    # Alle Subdomains (Standard: 1FA)
    - domain: "*.home.smallfamilybusiness.net"
      policy: one_factor

session:
  cookies:
    - name: authelia_session_home
      domain: home.smallfamilybusiness.net
      authelia_url: https://authelia.home.smallfamilybusiness.net
      same_site: none
      expiration: 3600
      inactivity: 300

  secret: "${AUTHELIA_SESSION_SECRET}"

storage:
  encryption_key: "${AUTHELIA_STORAGE_ENCRYPTION_KEY}"
  local:
    path: /config/storage


# notifier:
#   filesystem:
#     filename: /config/notification.txt

